body {

    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding: 5% 10%;
}

.container {

    width: 1200px;

}

h2 {

    color: hsl(179, 62%, 43%);
}

.highlight {

    color: hsl(71, 73%, 54%);
}

.why-list {
    list-style: none;
    line-height: 0.5;
}

.header {

    background-color: #FFF;
    color: #acabb5;
    padding: 5%
}

.big-number {

    font-size: 2.3rem;
}

.right-column {

    padding: 5%;
    background-color: #91dcdd;
    color: #FFF;
    text-align: left;
}

.right-col-btn {

    background-color: hsl(71, 73%, 54%);
    border: none;
    color: #FFF;
    padding: 3% 3%;
}

.right-col-title {

    font-size: 1.2rem;
}

.right-col-lable {

    color: hsl(204, 43%, 93%);
}

.left-column {

    padding: 5%;
    color: #FFF;
    background-color: hsl(179, 62%, 43%);
}



.attribution {
    padding: 5% 17%;
    font-size: 1.2rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:600px) {

    .container {

        width: 100%;
    }

    body {

        text-align: left;
    }

}